body {
    background-color: black;
    height: 100vh;
    align-content: center;
}

h1 {
    color: white;
    text-align: center;
}

.ball {
    max-width: 400px;
    max-height: 400px;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    margin: auto;

    text-align: center;
    align-content: center;

    font-size: 22px;
    font-weight: bold;

    transition: 1s;
}