body {
    background-color: black;
    height: 100vh;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
}

.ball {

    margin:5px;
    max-width: 400px;
    max-height: 400px;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;

    text-align: center;
    align-content: center;

    font-size: 22px;
    font-weight: bold;

    transition: 1s;
}

.second {
    background-color: rebeccapurple;
}